<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FileToUpload</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.ctrl.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadCtrl</display-name>
    <servlet-name>UploadCtrl</servlet-name>
    <servlet-class>com.ctrl.UploadCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadCtrl</servlet-name>
    <url-pattern>/Ctrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.ctrl.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Retrieve</display-name>
    <servlet-name>Retrieve</servlet-name>
    <servlet-class>com.ctrl.Retrieve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Retrieve</servlet-name>
    <url-pattern>/Retrieve</url-pattern>
  </servlet-mapping>
</web-app>